html,
body,
* {
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  src: url("font/SFProDisplay-Bold.ttf");
  font-family: SF-Pro-Display-Bold;
}
@font-face {
  src: url("font/SFProText-Medium.ttf");
  font-family: SF-Pro-Text-Medium;
}
@font-face {
  src: url("font/SFProDisplay-SemiBold.ttf");
  font-family: SF-Pro-Display-Semibold;
}
@font-face {
  src: url("font/SFProText-Bold.ttf");
  font-family: SF-Pro-Text-Bold;
}
@font-face {
  src: url("font/SFProText-Regular.ttf");
  font-family: SF-Pro-Text-Regular;
}
